*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#square1{
    display: flex;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}
#square2{
    display: flex;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}
#square3{
    display: flex;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}
.box1{
    height: 100px;
    width: 100px;
    border: 2px solid violet;
    background-color: white;
    
}